#root {
  width: 100%;
}

.main-container{
  padding: 2rem;
  text-align: right;
}

.form-container{
  display: grid;
  gap: 15px;
}

.table-content{
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logout-button-container {
  position: fixed;
  top: 10px; /* Ajusta según sea necesario */
  right: 10px; /* Ajusta según sea necesario */
  z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
}
